body {
  background-color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
  background-image: "";
}

header {
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  border-radius: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.navbar li a:hover {
  opacity: .4;
}

.navbar li a.active {
  background-color: #4c86af;
}

.subMenu {
  display: none;
  position: absolute;
  background-color: #333;
  animation: menuFadeIn  0.1s ease-in;
}

.subMenu li {
  float: none;
}

.navbar li:hover .subMenu {
  display: block;
}

@keyframes menuFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

header h1 {
  text-align: center;
  margin-top: 50px;
}

.mainTable {
  border: #ddd;
}

.mainTable th {
  border: none;
  padding: 15px;
}

.mainTable td {
  border: 0;
  padding: 5px;
}

.mainTable tr:nth-child(odd) {
  background-color: #ececec;
}

.mainTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mainTable tr:hover {
  background-color: #f1f1f1;
}

.itemListing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px;
  padding-bottom: 20px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card .description {
  padding: 15px;
}

.card .title {
  font-size: 20px;
  font-weight: bold;
}

.card .price {
  background-color: rgba(76, 175, 79, 0.8);
  color: white;
  float: right;
  padding: 5px;
  border-radius: 10px;
  /* transform: translate(10px, -210px); */
}

@media screen and (max-width: 600px) {
  .navbar li {
    float: none;
    width: 100%;
  }

  .card {
    max-width: 100%;
    width: 100%;
  }
}