body {
  background-color: #F9F9F9;
  font-family: 'Courier New', Courier, monospace;
}

header {
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  border-radius: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.navbar li a:hover {
  opacity: .4;
}

.subMenu {
  display: none;
  position: absolute;
  background-color: #333;
  animation: menuFadeIn  0.1s ease-in;
}

.subMenu li {
  float: none;
}

.navbar li:hover .subMenu {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar li {
    float: none;
    width: 100%;
  }
}

@keyframes menuFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

header h1 {
  text-align: center;
  margin-top: 50px;
}

.mainTable {
  border: #ddd;
}

.mainTable th {
  border: none;
  padding: 15px;
}

.mainTable td {
  border: 0;
  padding: 5px;
}

.mainTable tr:nth-child(odd) {
  background-color: #ececec;
}

.mainTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mainTable tr:hover {
  background-color: #f1f1f1;
}